.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 32px;
    gap: 16px;
  }
  .download_app {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .fl {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  
  @media screen and (max-width: 500px) {
    .footer {
      flex-direction: column;
      text-align: center;
    }
    .fl {
      display: flex;
      margin-top: 21px;
      justify-content: center;
      gap: 40px;
    }
  }
  .footer p {
    color: #8a8a8a;
  }
  
  .footer h3 {
    color: #fff;
  }
  